/*Reseteo de codigo, para unificar los espacios en todos los navegadores.*/
*{
    padding:0;
    margin:0;
}

body{
    background-color: #ffcdd473;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
}
header{
    text-align: center;
}
h1 h2{
    text-align: center;
    background-color: #ffe6f3ad;
    color: black;
    padding: 20px;
    margin: 0 auto;
}

header img{
    width: 250px;
    border-radius: 20%;
    padding: 20px;
}

.gatito{
    width: 130px;
}
.mi_color{
    background-color: rgba(255, 208, 234, 0.637);
}
/*.header__menu{
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}
.header__item{
    margin: 13px;
    display: inline-block;
    text-align: center;   
}*/

a{ /*Son los links*/
    color: black;
    font-weight: bold;
    font-size: 1.0rem; 
    margin: 0.5px;
    text-decoration: none;
    padding: 0.7rem;
    justify-content: center;
}
li a:hover{
    color: #ffe6f3ad;
    background-color: black;
    border-radius: 10px;
    
}
.subt{
    color:#f54b4bb7;
    margin: 20px;
    text-align: center;
    
}
.nav-item{
    margin: auto;
}

main{
    text-align: center;
    padding: 20px;
}
main img{
    width:500px;
    padding: 20px;
}
p{
    padding: 20px;
    line-height: 1.3;
    font-size: 1.1rem;
    width: 600px;
    overflow: auto;
    margin: 20px auto;
    border: 2px solid black;
}

.nosotros_par{
    width: 600px;
    overflow: auto;
    margin: 10px auto;
    border: 2px solid black;
}

.imgCentral{
    position: relative;
    width: 500px;/* Ajusta el ancho según la imagen*/
    margin: auto;
}

.imgCentralImg{
    width: 100%;
    height: auto;    
}

.imgCentralSub{
    position: absolute;
    top: 5%;/*Ajusta la posicion vertical*/
    left: 50%;/*Ajusta la posicion horizontal*/
    transform: translate(-50%, -50%); /*Mueve el elemento*/
    color: rgb(0, 0, 0); /*Cambia el color del texto*/
    text-align: center;
    font-size: 15px;
    background-color: rgba(255, 189, 189, 0.5);
    padding: 5px 10px;
    border-radius: 50%;/* Redondea los bordes*/
}
.main_productos{
    justify-content: center; 
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1 fr;
    grid-template-areas: 
    "ALIMENTOS PARA MASCOTAS"
    "HIGIENE PARA MASCOTAS"
    "JUGUETES PARA MASCOTAS"
    ;
}
.subt_prod{
    text-align: center;
    color:#f54b4bb7;
    margin: 20px;

}
.main_productos img{
    width: 400px;
    border-radius: 20%;
    padding: 20px;
}
.img_prod{
    height: 250px;
    width: auto;
}
footer{
    margin: 20px auto;
    padding: 20px;
    background-color:#ffcdd483 ;
    text-align: center
}
.formulario{
    width: 500px;
    text-align: center;
    margin: 10px auto;
}