*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(255, 205, 212, 0.451);
    background-image: url("../img/fondo-inicio2.avif");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
}